<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="assets/img/favicon.png" alt="" height="32">&nbsp;&nbsp;
            <strong>{{"Title"|translate}}</strong>
        </a>

        <div *ngIf="auth.user | async; then authenticated else guest">
            <!-- template will replace this div -->
        </div>
        <!-- Usuário não está logado-->
        <ng-template #guest>
            <button class="navbar-toggler" id="button.login" type="button" routerLink="/">
                <span>{{"Label.Login"|translate}}</span>
                &nbsp;<i class="fa fa-sign-in"></i>
            </button>
        </ng-template>

        <!-- Usuário está logado-->
        <ng-template #authenticated >
            <button class="navbar-toggler" id="button.user.dropdown" *ngIf="auth.user | async as user" type="button" >
                <i class="fa fa-user" id="img.profile.photo"></i>
                &nbsp;<span>{{user.name}}</span>
                &nbsp;<i class="fa fa-angle-down"></i>
            </button>
        </ng-template>

    </div>
</div>
